@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2440aa,
    #7994f9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #7994f9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
  @apply text-4xl mt-5 text-white font-bold uppercase text-center;
}

.text {
  @apply text-xl font-bold text-white;
}

.error {
  @apply font-bold text-red-700;
}
